.footer {
    height: 60px;
    background-color: #282c34;
    flex: 0 0 auto;
    color: white;
}

.footer h5{
    margin-left: 50px;
}

.footerMob {
    background-color: #3f51b5;
    flex: 0 0 auto;
    color: white;
}

.footerMob h5{
    margin-left: 50px;
}
