/*#282c34*/
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    box-shadow: 0px 4px 8px grey;
    background-color: #282c34;
    position: fixed;
    width: 100%;
    margin-top: 210px;
    align-self: center;
    z-index: 995;
}
.menuItem{
    display: block;
    height: 50px;
    background-color: #282c34;
    text-align: center;
    text-transform: uppercase;
}

div.menuItem a{
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 130px;
    line-height: 50px;
    color:#fff;
    font-weight: lighter;
    transition: all 0.3s ease 0s;
}

div.menuItem a:hover{
   /* color: lightcoral*/
    /*width: 180px;*/
    background-color: #e9ecf4;
    color: black
}

div.menuItem a.activeLink{
    color: coral;
}


/*ul li a:hover {
   !* color: coral*!
    background-color: #282c34
    display: block
}

ul li a.activeLink {
    color: coral

}*/

/*

.item a{
    color: white
    text-transform: uppercase
    text-decoration: none
    height: 45px
left: 700px
display: block
}

.item a.activeLink{
    color: coral
}

.item a:hover{
    color: green
    background-color: darkseagreen
}

.app_nav .item {
    margin-left: 10px
    display: block
}*/
