
.App {
  min-height: 100vh;
  height: 100vh;
  min-height: 100%;  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  color: black;
  font-family: "Montserrat Alternates", "Roboto";
  /*justify-content: center;*/
  /*align-items: center;*/
}
/*
.App-logo {
  height: 40vmin
}

.App-header {
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center

  font-size: calc(10px + 2vmin)
  color: white
}

.App-link {
  color: #09d3ac
}*/
