
.App {
  min-height: 100vh;
  /*height: calc(100% + 60px);*/
  /*height: 100% !important;
  height: 100%;
  margin: 0 auto -60px;*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  color: black;
  font-family: "Montserrat Alternates", "Roboto";
}
