@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,700,900&display=swap&subset=cyrillic');
html {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, 'Montserrat Alternates';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecf4; /*#f5f6f7 #e9ecf4 #b4b4b4*/
  overflow-y: scroll;
  /*background-image: radial-gradient(ellipse farthest-side at right bottom, #FFFFFF 0%, #e9ecf4 30%, #FFFFFF 100%);*/
}
body {
  margin: 0;
  padding:0;
  overflow-y: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "Roboto"
}
